@import "../../variable.less";
.index {
    .img-sp {
        width: 622px;
        height: 622px;
        margin: 64px auto;
    }
    .view-fixed-bottom {
        .bg-h();
        .border-bottom();
        &::after {
            top: 0;
            bottom: auto; // border:1px dashed @color-1;
            // height: 0;
        }
        Button {
            .bg-h();
            font-size: 36px;
            font-family: Arial;
            font-weight: bold;
        }
    }
    .info {
        .bg-h();
        height: 2000px;
        padding-bottom: 100px;
        .code-body {
            .font-title(24px);
            color: @color-4;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .c-icon {
                width: 208px;
                height: 208px;
            }
            .c-kf {
                text-align: center;
                margin: 20px auto;
            }
            .c-kf-img {
                width: 22px;
                height: 22px;
                margin-right: 10px;
            }
        }
    }
}