@import "../../variable.less";
.equity-body {
    font-family: SimHei;
    .title {
        .font-title(36px);
        padding-top: 40px;
        padding-left: 44px;
        color: @color-1;
    }
    .th {
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        line-height: 60px;
    }
    .tr {
        font-size: 32px;
        font-family: SimHei;
        font-weight: 400;
        line-height: 60px;
        .at-col {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            .img-g {
                width: 44px;
                height: 36px;
            }
        }
        .tr-border {
            position: relative;
            .border-bottom(@color-5);
            &::after {
                width: auto;
                left: 52px;
                right: 32px;
            }
            &:last-child{
                &::after{
                    opacity: 0;
                }
            }
            .at-col {
                position: relative;
                .border-right(@color-5);
                &::after {
                    width: 1px;
                    left: 52px;
                    right: 32px;
                }
            }
        }
    }
    .text-bot {
        padding: 80px 0;
        text-align: center;
        .font-title(36px);
        color: @color-1;
        opacity: 0.3;
    }
}