@color-1: #DBC389;
@color-2: #0A0A0A;
@color-3:#939393;
.font-title(){
    color: @color-2;
    font-size: 48px;
    font-family:Arial;
    margin-bottom: 10px;

}
.font-lable(){
    color: @color-3;
    font-size: 32px;
    font-family:Arial;
    margin-bottom: 10px;
}
.font-text(){
    color: @color-2;
    font-size: 32px;
    line-height:60px;
    font-family:Arial;
    margin-bottom: 10px;

}
.bg-h() {
    background: @color-2;
    color: @color-1;
}